/* CSS file */

/*
 https://material.io/icons/
*/
@font-face {
   src: url("/assets/fonts/MaterialIcons-Regular.ttf");
   fontFamily: MaterialIcon;
   embedAsCFF: true;
   fontWeight: normal;
   fontStyle:  normal;
/*   unicodeRange: U+0020-007E;*/
}